<h2>Create New User</h2>

<form method="POST" action="<%= new_user_url %>">
  <input type="text" name="user[username]">
  <input type="password" name="user[password]">
  <button>Submit</button>
</form>
